#para1{



    color:blue;
    font-size: xx-small;
    font-style: inherit;

}
.class1{
    color: cornsilk;
    background-color: blueviolet;
}
.class2{
    color: aquamarine;
    background-color: chocolate;
}




.myclass{
    color: aquamarine;
    background-color: black;
}